/* react */
@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember Bold Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember Light Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember Medium Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./Amazon Ember Heavy Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
